{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<body cz-shortcut-listen="true">

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">О проекте</h4>
          <p class="text-muted">Этот проект создан для того, чтобы собрать все медиа материалы компании в одном месте. Что-то похожее на облако, только расположено на наших серверах. По всем вопросам обращайтесь в IT Отдел.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Профиль</h4>
          <ul class="list-unstyled">
            {% if user.is_authenticated %}
                <li><a href="#" class="text-white">{{ user.get_username }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-center">
              <img src="{% static 'favicon.png' %}" width="25px" height="25px">
              <strong>Медиа Сервис</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</header>

<main>
  <div class="album py-5 bg-light">
        <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
                    {% block title %}{% endblock %}
              </div>
              {% block content %}{% endblock %}
        </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">{{ _('Back to top') }}</a>
    </p>
    <p class="mb-1">Медиа Сервис @ АО "НПО "Андроидная Техника"</p>
  </div>
</footer>

</body>