.file-row {
    line-height: 4em;
    margin-top: 10px !important;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
}
.file-row:hover {
    background: #f1f1f1;
    cursor: pointer;
    color: #000;
}
.navigation-link {
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.navigation-link:hover {
    color: #000;
}
.navigation-link:hover svg {
    fill: #000;
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: sans-serif;
    margin: 20px auto 0;
    padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
      width: 150px;
      margin-bottom: 10px;
      margin-right: 10px;
      vertical-align: middle;
}
.button {
      display: inline-block;
      padding: 10px;
      background: #ccc;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}
.delete-file {
    display: none;
}
.file-row:hover .delete-file {
    display: initial;
}
.delete-file:hover svg {
    fill: #555;
}
.delete-file:hover svg {
    fill: #555;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.context-menu {
    position: absolute;
    display: none;
}
.context-menu a {
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    background: #3a3a3a;
    display: block;
}
.context-menu a:hover {
    background: #1a1a1a;
    text-decoration: none;
}