{% extends "base_template.html" %}
{% load bootstrap_icons %}

{% block title %}
    <div class="col-xl-12">
        <h1 class="bd-title mt-0">{{ _('Event') }}: {{event.title}}</h1>
        <p class="bd-lead">{{event.description}}</p>
    </div>
{% endblock %}
{% block content %}
    <style type="text/css">
        .file-row {line-height: 4em; margin-top: 10px !important;padding-bottom: 10px;}
        .file-row:hover {background: #f1f1f1;cursor: pointer;}
    </style>
    {% for dir in main_dir.child_dirs.all %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row">
        <div class="col-xl-1">
              {% bs_icon 'folder' size='4em' color='orange' %}
        </div>
        <div class="col-xl-9">
              {{ dir.title }}
        </div>
        <div class="col-xl-2">
              {{ dir.created_at }}
        </div>
    </div>
    {% endfor %}
    {% for file in main_dir.files.all %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row">
        <div class="col-xl-1">
              {% bs_icon 'card-image' size='4em'%}
        </div>
        <div class="col-xl-9">
              {{ file.title }}
        </div>
        <div class="col-xl-2">
              {{ file.created_at }}
        </div>
    </div>
    {% endfor %}
{% endblock %}