{% extends "base_template.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}
    <div class="col-xl-12">
        <div class="actions float-start">
            <h1 class="bd-title mt-0">{{ _('Event') }}: {{event.title}}</h1>
            <p class="bd-lead">{{event.description}}</p>
        </div>
        <div class="actions float-end">
            <a href="{% url 'directory_new' event.id current_dir.id %}" class="btn btn-primary my-2">{{ _('Add new directory') }}</a>
        </div>
    </div>
    <div class="col-xl-12">
    {% if current_dir.parent_dir is not empty %}
        <a href="{% url 'dir_details' event.id current_dir.parent_dir.id %}"  class="navigation-link">{% bs_icon 'arrow-left' color='orange' %} {{current_dir.parent_dir.title}}</a>
    {% endif %}
        <div id="drop-area">
            <form class="my-form">
                <p>{{ _('Drag and drop files to this area') }}</p>
                <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)">
                <label class="btn btn-primary my-2" for="fileElem">{{ _('Select files') }}</label>
            </form>
            <div id="gallery"></div>
            <progress id="progress-bar" max=100 value=0></progress>
        </div>
    </div>
{% endblock %}
{% block content %}

    {% for dir in current_dir.child_dirs.all %}
    <a href="{% url 'dir_details' event.id dir.id %}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row">
        <div class="col-xl-1">
              {% bs_icon 'folder' size='4em' color='orange' %}
        </div>
        <div class="col-xl-9">
              {{ dir.title }}
        </div>
        <div class="col-xl-2">
              {{ dir.created_at }}
        </div>
    </a>
    {% empty %}
        <p class="bd-lead">{{ _('Directory is empty')}}</p>
    {% endfor %}
    {% for file in current_dir.files.all %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row">
        <div class="col-xl-1">
            {% if file.is_image %}
                <img src="{{file.file.url}}" style="width:75px;">
            {% else %}
                {% bs_icon 'card-image' size='4em'%}
            {% endif %}
        </div>
        <div class="col-xl-7">
            {{ file.title }}
        </div>
        <div class="col-xl-1">
            {{ file.size }}
        </div>
        <div class="col-xl-2">
            {{ file.created_at }}
        </div>
        <div class="col-xl-1">
            <a href="{% url 'file_remove' file.id %}" class="remove-file">{% bs_icon 'x-circle-fill' color='#999' size='3em'%}</a>
        </div>
    </div>
    {% endfor %}

    <script type="text/javascript">
        let url = '{% url 'file_new' current_dir.id %}';
        let csrf_token = '{{ csrf_token }}'
    </script>

    <script type="text/javascript" src="{% static 'js/dragndrop-file-load.js' %}"></script>
{% endblock %}