{% extends "base_template.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}
    <div class="col-xl-10 col-lg-6 col-md-6 col-sm-6">
        <h1 class="bd-title mt-0">{{ _('Event') }}: {{event.title}}</h1>
        <p class="bd-lead">{{event.description}}</p>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
        {% if perms.blog.add_directory %}
            <a href="{% url 'directory_new' event.id current_dir.id %}" class="btn btn-primary my-2 float-end">{{ _('Add new directory') }}</a>
        {% endif %}
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        {% if current_dir.parent_dir is not empty %}
            <a href="{% url 'dir_details' event.id current_dir.parent_dir.id %}"  class="navigation-link">{% bs_icon 'arrow-left' size='1.5em' color='grey' %} {{current_dir.parent_dir.title}}</a>
        {% endif %}

        {% if perms.blog.add_file %}
        <div id="drop-area">
            <form class="my-form">
                <p>{{ _('Drag and drop files to this area') }}</p>
                <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)">
                <label class="btn btn-primary my-2" for="fileElem">{{ _('Select files') }}</label>
            </form>
            <div id="gallery"></div>
            <progress id="progress-bar" max=100 value=0></progress>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% for dir in current_dir.child_dirs.all %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <a href="{% url 'dir_details' event.id dir.id %}"
                class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row"
                data-delete-url="{% url 'delete_directory' dir.id %}"
                data-rename-url="{% url 'change_directory' dir.id %}"
            >
                <div class="col-xl-1 col-sm-3 col-md-2">
                      {% bs_icon 'folder' size='4em' color='orange' %}
                </div>
                <div class="col-xl-9 col-sm-5 col-md-6">
                      {{ dir.title }}
                </div>
                <div class="col-xl-2 col-sm-4 col-md-4">
                      {{ dir.created_at }}
                </div>
            </a>
        </div>
    {% endfor %}
    {% for file in current_dir.files.all %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 file-row"
            data-delete-url="{% url 'delete_file' file.id %}">
            <div class="col-xl-1 col-sm-3 col-md-2">
                {% if file.is_image %}
                    <img src="{{file.file.url}}" class="file-image-preview" style="width:95px;"
                         data-bs-toggle="modal" data-bs-target="#previewImageModel" data-title="{{file.title}}" />
                {% elif file.is_video %}
                    <video src="{{file.file.url}}" class="video-image-preview" width="95px;" poster="{% static 'images/default_thumb.png' %}"
                        data-bs-toggle="modal" data-bs-target="#previewImageModel" preload="none" data-title="{{file.title}}"
                    ></video>
                {% else %}
                    {% bs_icon 'card-image' size='4em'%}
                {% endif %}
            </div>
            <div class="col-xl-8 col-sm-3 col-md-4">
                {{ file.title }}
            </div>
            <div class="col-xl-1 col-sm-2 col-md-2">
                {{ file.size | filesizeformat }}
            </div>
            <div class="col-xl-2 col-sm-4 col-md-4">
                {{ file.created_at }}
            </div>
        </div>
    {% endfor %}

    {% if current_dir.child_dirs.all|length < 1 and current_dir.files.all|length < 1  %}
        <p class="bd-lead">{{ _('Directory is empty')}}</p>
    {% endif %}

    <div class="modal fade" id="previewImageModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
                <div class="modal-content">
                      <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                            <img src="" width="100%"/>
                      </div>
                </div>
          </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
             {{ _('Are you sure you want to delete object?') }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            <a href="" class="btn btn-primary confirm-delete">{{ _('Delete') }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="context-menu">
        <a href="#" id="rename-action">{{ _('Rename') }}</a>
        <a href="#" id="delete-action" data-bs-toggle="modal"
           data-bs-target="#confirmDeleteModal">{{ _('Delete') }}</a>
    </div>
    <script type="text/javascript" src="{% static 'js/dragndrop-file-load.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/cash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preview-images.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/context-menu.js' %}"></script>

    <script type="text/javascript">
        let url = '{% url 'add_file' current_dir.id %}';
        let csrf_token = '{{ csrf_token }}'
        let delete_file = '{{ perms.blog.delete_file }}'
        let delete_directory = '{{ perms.blog.delete_directory }}'
    </script>
{% endblock %}