{% extends "base_template.html" %}

{% load crispy_forms_tags %}

{% block title %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h1 class="bd-title mt-0 float-start">
             {% if type == 'new' %}
                {{ _('Add new event') }}
            {% else %}
                {{ _('Edit event') }}
            {% endif %}
        </h1>
    </div>
{% endblock %}
{% block content %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <form method="POST" class="event-form col-xl-12" enctype="multipart/form-data">{% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="save btn btn-primary my-2 float-end">{{ _('Save') }}</button>
        </form>
    </div>
{% endblock %}